.form {
  width: 50%;
  position: relative;

  textarea {
    resize: none;
    padding: 10px;
    border: 0;
    box-sizing: border-box;
    width: 100%;
  }

  .form-submit {
    all: unset;
    display: block;
    position: absolute;
    padding: 10px 20px;
    bottom: -50px;
    right: 0;
    background-color: blue;
    color: white;
    cursor: pointer;
  }

  .form-close {
    all: unset;
    display: block;
    position: absolute;
    font-size: 30px;
    top: -50px;
    right: 0;
    cursor: pointer;
  }
}
